bcc==0.32.0
chardet==4.0.0
ClusterShell==1.9.2
dasbus==1.4
dbus-python==1.2.18
distro==1.5.0
gpg==1.15.1
idna==2.10
influxdb==5.3.1
libcomps==0.1.18
msgpack==1.0.3
netaddr==0.10.1
nftables==0.1
pycairo==1.20.1
pyelftools==0.27
PyGObject==3.40.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rpm==4.16.1.3
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
six==1.15.0
systemd-python==234
urllib3==1.26.5
